<!DOCTYPE html>
<html>
  <head>
    <title>Burning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <%= link_to("All flights", flights_path) %>
    <%= link_to("All planes", airplanes_path) %>
</nav>

  <body>
    <%= yield %>
  </body>
</html>
